.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 252px);

    max-height: 0px;
    visibility: hidden;
    pointer-events: none;

    &.active {
        max-height: unset;
        visibility: visible;
        pointer-events: auto;
    }
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;

    &:nth-child(1) {
        margin-top: 0;
        transition-delay: $column-transition-delay * 0;
    }
    &:nth-child(2) {
        margin-top: 160px;
        transition-delay: $column-transition-delay * 1;
    }
    &:nth-child(3) {
        margin-top: 320px;
        transition-delay: $column-transition-delay * 2;
    }
    &:nth-child(4) {
        margin-top: 480px;
        transition-delay: $column-transition-delay * 3;
    }
    &:nth-child(5) {
        margin-top: 320px;
        transition-delay: $column-transition-delay * 4;
    }
    &:nth-child(6) {
        margin-top: 160px;
        transition-delay: $column-transition-delay * 5;
    }
    &:nth-child(7) {
        margin-top: 0;
        transition-delay: $column-transition-delay * 6;
    }
}

.item {
    width: 236px;
    height: 350px;
    background: #B098C1;
    border-radius: 10px;
}

.item:not(:first-child) {
    margin-top: 16px;
}