header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 28px 15px 24px;

    h3 {
        color: #000;
        font-size: 20px;
        font-weight: 700;
    }

    nav {
        display: flex;
        align-items: center;

        ul {
            li {
                padding: 16px;

                a {
                    text-decoration: none;
                    font-size: 16px;
                    color: #000;
                    font-weight: 700;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        a{
            .buttons {
                display: flex;
                margin-left: 24px;

                    button {
                        font-size: 16px;
                        font-weight: 700;
                        padding: 11px 12px 11px 12px;
                        border-radius: 24px;
                        border: none;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .login {
                        color: #000;
                        background: #B098C1;                       
                    }

                    .signup {
                        margin-left: 16px;
                        background: #efefef;
                    }
            }
        }
    }
}