.heading {
    margin-top: 120px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
    .text {
      font-size: 60px;
      font-weight: 600;
    }
    .wrapper {
      position: relative;
  
      .offset {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-50%);
      }
      .text {
        white-space: nowrap;
        color: #B098C1;
  
        transition-duration: 1s;
      }
    }
  }