#icone {
    width: 40px;
    margin-right: 14px;
}
.grid-item {
    margin-bottom: 10px;
    margin-left: 45px;
    
}

.grid{
    justify-content: center;
    margin-left: 65px;
}

img{
    max-width: 400px;
    border-radius: 24px;
    margin-left: 45px;
    margin-right: 45px;
}

.buttons {
    display: flex;
    margin-left: 24px;
}

.inicio {
    color: $white;
    background: $gray;    
    font-size: 16px;
    font-weight: 700;
    padding: 11px 12px 11px 12px;
    border-radius: 24px;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;                   
}

.criar {
    margin-left: 16px;
    background: $gray-light;
    font-size: 16px;
    font-weight: 700;
    padding: 11px 12px 11px 12px;
    border-radius: 24px;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.pesquisa {
    margin-left: 16px;
    background: #efefef;
    font-size: 16px;
    font-weight: 700;
    padding: 11px 12px 11px 12px;
    border-radius: 24px;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
}