body {

    padding: 0;

    margin: 0;

    background-color: #B098C1;

}

#login {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 100vh;

    font-family: -apple-system, Ubuntu, Arial, sans-serif;

}

.card {

    background-color: #fff;

    padding: 40px;

    border-radius: 2px;

    width:280px;

}

.card-header {

    padding-bottom: 50px;

    opacity: 0.8;

    color: #000;

}

.card-header::after {

    content: "";

    width: 70px;

    height: 1px;

    background-color: #fff;

    display: block;

    margin-top: -17px;

    margin-left: -5px;

}

.card-content label {

    color: #000;

    font-size: 12px;

    opacity: 0.8;

}

.card-content-area {

    display: flex;

    flex-direction: column;

    padding:10px 0;

}

.card-content-area input {

    margin-top: 10px;

    padding:0 5px;

    background-color: transparent;

    border:none;

    border-bottom: 1px solid #e1e1e1;

    outline: none;

    color: #000;

}

.card-footer {

    display: flex;

    flex-direction: column;

}

.card-footer #bt-enviar{

    width: 100%;

    height: 40px;

    background-color: #B098C1;

    border:none;

    color:#000;

    margin: 10px 0;

}

.card-footer a {

    text-align: center;

    font-size: 12px;

    opacity: 0.8;

    color: #000;

    text-decoration: none;

}