* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, button, input {
  font-family: -apple-system, Ubuntu, Arial, sans-serif;
}

*, li {
  list-style: none;
}

.animate-before {
  -webkit-transform: translateY(40);
          transform: translateY(40);
  opacity: 0;
  pointer-events: none;
}

.animate-after {
  -webkit-transform: translateY(-40);
          transform: translateY(-40);
  opacity: 0;
  pointer-events: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 28px 15px 24px;
}

header h3 {
  color: #B098C1;
  font-size: 20px;
  font-weight: 700;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  padding: 16px;
}

header nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #111;
  font-weight: 700;
}

header nav ul li a:hover {
  text-decoration: underline;
}

header nav .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 24px;
}

header nav .buttons button {
  font-size: 16px;
  font-weight: 700;
  padding: 11px 12px 11px 12px;
  border-radius: 24px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .buttons .login {
  color: #fff;
  background: #ae5ee7;
}

header nav .buttons .signup {
  margin-left: 16px;
  background: #efefef;
}

.heading {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.heading .text {
  font-size: 60px;
  font-weight: 600;
}

.heading .wrapper {
  position: relative;
}

.heading .wrapper .offset {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.heading .wrapper .text {
  white-space: nowrap;
  color: #B098C1;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (252px)[7];
      grid-template-columns: repeat(7, 252px);
  max-height: 0px;
  visibility: hidden;
  pointer-events: none;
}

.grid.active {
  max-height: unset;
  visibility: visible;
  pointer-events: auto;
}

.column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.column:nth-child(1) {
  margin-top: 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.column:nth-child(2) {
  margin-top: 160px;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.column:nth-child(3) {
  margin-top: 320px;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.column:nth-child(4) {
  margin-top: 480px;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.column:nth-child(5) {
  margin-top: 320px;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.column:nth-child(6) {
  margin-top: 160px;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.column:nth-child(7) {
  margin-top: 0;
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.item {
  width: 236px;
  height: 350px;
  background: #B098C1;
  border-radius: 10px;
}

.item:not(:first-child) {
  margin-top: 16px;
}
/*# sourceMappingURL=styles.css.map */