<input search="animais">

<ul id="animais">
    <li>tartaruga</li>
    <li>cachorro</li>
    <li>lobo</li>
    <li>gato</li>
    <li>borboleta</li>
    <li>flamingo</li>
    <li>coelho</li>
    <li>panda</li>
    <li>coruja</li>
</ul>

<script src="../static/js/sistema_de_busca.js"></script>